:root {
  --primary-color: hsl(0, 100%, 74%);
  --secondary-color: hsl(154, 59%, 51%);
  --secondary-color-dark: rgb(43, 182, 121);
  --tertiary-color: hsl(248, 32%, 49%);
  --neutral-color: hsl(249, 10%, 26%);
  --neutral-color-light: hsl(246, 25%, 77%);
  --white-color: white;
}

body {
  padding: 20px;
  background-image: url(images/bg-intro-mobile.png);
  background-color: var(--primary-color);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "poppins", "sans-serife";
}
.text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.title-text {
  font-size: 24px;
  font-weight: 700;
  max-width: 250px;
  color: var(--white-color);
  margin-bottom: 30px;
}
.paragraph-text {
  font-size: 16px;
  color: var(--white-color);
  line-height: 25px;
  max-width: 320px;
}
.card-content {
  display: flex;
  flex-direction: column;
}
.title-card-content {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;
  background-color: var(--tertiary-color);
  box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.178);
  margin-bottom: 30px;
}
.title-card {
  text-align: center;
  font-size: 16px;
  max-width: 230px;
  color: var(--white-color);
}

.title-card-color {
  color: var(--white-color);
  font-weight: 700;
}
.mini-card-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--white-color);
  box-shadow: 0px 7px 0px 0px rgba(0, 0, 0, 0.178);
}
input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 15px;
  border: none;
  outline-color: var(--tertiary-color);
  font-weight: 700;
}
.submit {
  margin-top: 10px;
  padding: 15px;
  border: none;
  background-color: var(--secondary-color);
  text-transform: uppercase;
  color: var(--white-color);
  font-size: 14px;
  font-weight: 700;
  transition: transform 0.2s ease-in-out;
}


.terms {
  font-size: 12px;
  max-width: 270px;
  color: var(--neutral-color-light);
  text-align: center;
  margin-bottom: 30px;
}
.terms-color {
  color: var(--primary-color);
}
input[type="text"],
input[type="password"],
input[type="email"],
.submit,
.terms {
  margin: 10px;
}
.title-card-content,
.mini-card-content,
.submit,
input[type="text"],
input[type="password"],
input[type="email"] {
  border-radius: 7px;
}